/* Generic styles */
* {
    /* Making all elements have a thicker border by default */
    border-radius: 0px; /* Making everything boxy */
    font-family: Terminess Nerd Font;
    font-size: 20px;
}

/* Waybar background and text color */
window#waybar {
    background: #F9F3CC; /* Slightly darker than #F9F3CC for a soft contrast */
    color: #171C3B; /* Black text for retro look */
    border: 0px solid #171C3B;
}

/* Tooltips */
tooltip {
  background: #F9F3CC;
  border: 2px solid #171C3B; /* A thicker border */
}

tooltip label {
  color: #171C3B; /* Black color for retro look */
}

/* Modules styling */
#workspaces, #mode, #user, #clock {
    border-bottom: 4px solid #171C3B;
    border-left:4px solid #171C3B;
    border-right:4px solid #171C3B;
    padding: 0 8px; /* Removes vertical padding, retains horizontal padding */
    margin: 0 8px; /* Removes vertical margin, retains horizontal margin */
    background: #F9F3CC; /* The retro color you provided */
    color: #171C3B; 
   /* box-shadow: 2px 2px 2px #171C3B;  Small shadow for a lifted effect */
}

#workspaces button, #mode button {
    font-size: 56px;
    margin: 0; /* Ensures no margin for buttons */
    padding: 0 8px; /* Adjust as needed */
    background: transparent;
    color: #171C3B; /* Black text for retro look */
    transition: 0.3s all ease-in-out; /* Smooth transition for button interactions */
    border-bottom: 0px solid transparent; /* Initial state with a transparent border at the bottom */
}

#workspaces button:hover, #mode button:hover {
    background: #E8E3C4; /* Darker shade for hover effect */
}

#workspaces button.focused {
    background: #5a5c65; /* Darker shade for focused state */
    color: #F9F3CC;
    border-bottom: 0px solid #F9F3CC; /* Match this with the workspace background to simulate the pressed effect */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1); /* Reduced shadow for pressed effect */
}

#workspaces {
    padding: 0px;
    font-size: 56px;
}

#mode {
    border-bottom: 3px solid #171C3B; /* Black underline for retro look */
}

#user, #clock, #cpu, #memory {
    transition: none;
}

#cpu, #memory {
    padding-left: 4px;
    padding-right: 4px;
    border-top: 4px solid #171C3B;
    border-bottom: 4px solid #171C3B;
    background: #F9F3CC;
    color: #171C3B;
}

#cpu {
    border-right: 4px solid #171C3B; /* Add left border only to CPU */
}

#memory {
    
    border-left: 4px solid #171C3B; /* Add right border only to memory */
    border-right: 1px solid #171C3B; /* Add a smaller intermediate border */
}
