:root {
    --background-color: #0A0C10;
    --foreground-color: #F9F3CC;
    --selection-background-color: #17191F;
    --active-tab-background-color: #27476D;
    --border-color: #F9F3CC;
}

/* Generic styles */
* {
    border-radius: 0px;
    font-family: Terminess Nerd Font;
    font-size: 20px;
}

/* Waybar background and text color */
window#waybar {
    background: var(--background-color);
    color: var(--foreground-color);
    border: 0px solid var(--border-color);
}

/* Tooltips */
tooltip {
    background: var(--selection-background-color);
    border: 2px solid var(--border-color);
}

tooltip label {
    color: var(--foreground-color);
}

/* Modules styling */
#workspaces, #mode, #user, #clock, #custom-power {
    border-top: 4px solid var(--border-color);
    border-bottom: 4px solid var(--border-color);
    border-left: 4px solid var(--border-color);
    border-right: 4px solid var(--border-color);
    padding: 0 8px;
    margin: 2px;
    background: var(--background-color);
    color: var(--foreground-color);
}

#custom-power {
    padding-right: 13px;
}

#workspaces button, #mode button, #custom-power button {
    font-size: 56px;
    margin: 0;
    padding: 8px;
    background: transparent;
    color: var(--foreground-color);
    transition: 0.3s all ease-in-out;
    border-bottom: 0px solid transparent;
}

#workspaces button:hover, #mode button:hover, #custom-power button:hover {
    background: var(--active-tab-background-color);
}

#workspaces button.focused {
    background: var(--active-tab-background-color);
    color: var(--foreground-color);
    border-bottom: 0px solid var(--foreground-color);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#workspaces {
    padding: 0px;
    font-size: 56px;
}

#mode {
    border-bottom: 3px solid var(--border-color);
}

#user, #clock, #cpu, #memory, #custom-power {
    transition: none;
}

#cpu, #memory {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-top: 4px solid var(--border-color);
    border-bottom: 4px solid var(--border-color);
    background: var(--background-color);
    color: var(--foreground-color);
}

#cpu {
    border-right: 4px solid var(--border-color);
}

#memory {
    border-left: 4px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}
