/* Generic styles */
* {
    border-radius: 0px;
    font-family: Terminess Nerd Font;
    font-size: 20px;
}

/* Waybar background and text color */
window#waybar {
    background: #0A0C10; /* Dark background from kitty config */
    color: #F9F3CC; /* Light text from kitty config */
    border: 0px solid #F9F3CC; /* Border color from kitty config */
}

/* Tooltips */
tooltip {
  background: #17191F; /* Selection background from kitty config */
  border: 2px solid #F9F3CC; /* Border color from kitty config */
}

tooltip label {
  color: #F9F3CC; /* Light text from kitty config */
}

/* Modules styling */
#workspaces, #mode, #user, #clock, #custom-power {
    border-top: 4px solid #F9F3CC;
    border-bottom: 4px solid #F9F3CC;
    border-left: 4px solid #F9F3CC;
    border-right: 4px solid #F9F3CC;
    padding: 0 8px;
    margin: 2px;
    background: #0A0C10;
    color: #F9F3CC;
}

#custom-power {
    padding-right: 13px;
}

#workspaces button, #mode button, #custom-power button {
    font-size: 56px;
    margin: 0;
    padding: 8px;
    background: transparent;
    color: #F9F3CC;
    transition: 0.3s all ease-in-out;
    border-bottom: 0px solid transparent;
}

#workspaces button:hover, #mode button:hover, #custom-power button:hover {
    background: #27476D; /* Active tab background from kitty config */
}

#workspaces button.focused {
    background: #27476D; /* Active tab background from kitty config */
    color: #F9F3CC;
    border-bottom: 0px solid #F9F3CC;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#workspaces {
    padding: 0px;
    font-size: 56px;
}

#mode {
    border-bottom: 3px solid #F9F3CC; /* Border color from kitty config */
}

#user, #clock, #cpu, #memory, #custom-power {
    transition: none;
}

#cpu, #memory {
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-top: 4px solid #F9F3CC;
    border-bottom: 4px solid #F9F3CC;
    background: #0A0C10;
    color: #F9F3CC;
}

#cpu {
    border-right: 4px solid #F9F3CC;
}

#memory {
    border-left: 4px solid #F9F3CC;
    border-right: 1px solid #F9F3CC;
}
